DATABASE_URL="postgresql://bitel:bitel@localhost:5432/bitel_mvp?schema=public"
JWT_SECRET="cambia_esto"
JWT_EXPIRES_IN="1d"
DOCUMENT_LOOKUP_TOKEN=""
RENIEC_API_URL="https://api.apis.net.pe/v2/reniec/dni"
SUNAT_API_URL="https://api.apis.net.pe/v2/sunat/ruc/full"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="TU_CORREO_GMAIL@gmail.com"
SMTP_PASS="TU_APP_PASSWORD_DE_16_CARACTERES"
SMTP_FROM="Bitel Demo <TU_CORREO_GMAIL@gmail.com>"
